@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    scrollbar-width: none;
    -ms-overflow-style: none;
    /* border: 1px solid red */
}

#root {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* body{
     background-color: #1f2937;
     color: white;
 }*/

input {
    @apply block mt-2 p-[10px] w-[100%] rounded-md h-12 border border-blue-600 text-blue-600 outline-none hover:border-2
}

.btn {
    border: 1px solid #ccc;
    padding: 8px 16px;
  }
  
  .btn-active {
    border-width: .3rem;
    border-color: #00bcd4; /* Example color for active button */
    color: #fff;
    font-size: 125%;
  }

/* src/App.css */

.chart_button {
    padding: 0.4rem;
    margin: 5px;
    cursor: pointer;
    border: 2px solid #2563eb;
    outline: none;
  }
  
  .chart_button_active {
    background-color: #2563eb;
    color: white;
  }
  
